.movies-main-container {
  background-color: #131313;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.new-banner-container {
  color: white;
  object-fit: contain;
  height: 440px;
}
.new-banner-content {
  margin-left: 90px;
  padding-top: 140px;
  width: 85%;
}
.new-banner-heading {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 10px;
  color: #ffffff;
  font-size: 36px;
}
.new-banner-description {
  max-width: 360px;
  font-size: 14px;
  height: 80px;
  color: #ffffff;
  margin-top: 10px;
  font-weight: 500;
}
.new-banner-button {
  cursor: pointer;
  outline: none;
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 3px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: none;
  color: #ffffff;
  padding-left: 28px;
  padding-right: 28px;
  font-weight: 700;
}
.new-banner-button:hover {
  color: #131313;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
.new-banner-fade-container {
  height: 7.4rem;
  fill: Linear Gradient rgba(0, 0, 0, 0) @0% rgba(24, 24, 24, 0.5469) @35.23%
    #181818 @85.46% #181818 @90.86% #181818 @100%;
}

.movie-details-container {
  display: flex;
  justify-content: space-between;
  margin-left: 90px;
  width: 85%;
  margin-top: 20px;
  margin-bottom: 30px;
}
.genres-container {
  display: flex;
  flex-direction: column;
}
.genres-li {
  list-style-type: none;
}
.genre-name {
  font-size: 18px;
  font-family: Roboto;
  color: #64748b;
  margin-bottom: 10px;
}
.audio-container {
  display: flex;
  flex-direction: column;
}
.audio-name {
  font-size: 18px;
  font-family: Roboto;
  color: #64748b;
  margin-bottom: 10px;
}
.rating-container {
  display: flex;
  flex-direction: column;
}
.rating {
  font-size: 16px;
  font-family: Roboto;
  color: #64748b;
  margin-bottom: 10px;
}
.rating-count {
  font-size: 14px;
  font-family: Roboto;
  color: #ffffff;
  margin-bottom: 10px;
}
.budget-release-date-container {
  display: flex;
  flex-direction: column;
}
.budget-heading {
  font-size: 16px;
  font-family: Roboto;
  color: #64748b;
  margin-bottom: 10px;
}
.budget {
  font-size: 14px;
  font-family: Roboto;
  color: #ffffff;
  margin-bottom: 10px;
}
.date-heading {
  font-size: 16px;
  font-family: Roboto;
  color: #64748b;
  margin-bottom: 10px;
}
.date {
  font-size: 14px;
  font-family: Roboto;
  color: #ffffff;
  margin-bottom: 10px;
}
.similar-movies-container {
  margin-left: 90px;
  margin-bottom: 50px;
  width: 85%;
}
.similar-movies-heading {
  font-size: 20px;
  color: #ffffff;
  margin-left: 90px;
}
.similar-movies-container {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin-top: 20px;
}
